<div class="app-body">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="forgotForm" (ngSubmit)="submitForm()" #localForm="ngForm">
                                    <h1>Forgot Password</h1>
                                    <p class="text-muted">Sign In to your account</p>
                                    <div class="form-group has-feedback">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="email" placeholder="Username" autocomplete="username" required [class.is-invalid]="(forgotForm.get('email').touched || forgotForm.get('email').dirty) && forgotForm.get('email').invalid">
                                            <div class="invalid-feedback" *ngIf="(forgotForm.get('email').touched || forgotForm.get('email').dirty) && forgotForm.get('email').errors?.required">Email Required</div>
                                            <div class="invalid-feedback" *ngIf="forgotForm.get('email').errors?.pattern">Please provide a valid email address</div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <button [disabled]="forgotForm.invalid" type="submit" class="btn btn-primary px-4">Submit</button>
                                        </div>
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-primary px-4" (click)="back()">Back</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>