<div class="card">
    <div class="card-header">
        <strong>Change Password</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="changeForm" (ngSubmit)="submitForm()" #localForm="ngForm">
            <div class="form-group row">
                <label class="col-md-3 col-form-label required" for="text-input">Password</label>
                <div class="col-md-9">
                    <input type="password" id="password" name="password" formControlName="password" class="form-control" placeholder="Enter Password" [class.is-invalid]="(changeForm.get('password').touched || changeForm.get('password').dirty) && changeForm.get('password').invalid">
                    <div class="invalid-feedback" *ngIf="(changeForm.get('password').touched || changeForm.get('password').dirty) && changeForm.get('password').errors?.required">password Required</div>

                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label required" for="text-input">Retype Password</label>
                <div class="col-md-9">
                    <input type="password" id="repassword" name="repassword" formControlName="repassword" class="form-control" placeholder="Enter repassword" (keyup)="password_valid()" [class.is-invalid]="(changeForm.get('repassword').touched || changeForm.get('repassword').dirty) && changeForm.get('repassword').invalid">
                    <div class="invalid-feedback" *ngIf="(changeForm.get('repassword').touched || changeForm.get('repassword').dirty) && changeForm.get('repassword').errors?.required">password Required</div>
                    <div class="text-danger " style="width: 100%;" *ngIf="show">
                        Captcha Mismatch</div>
                    <div class="text-success" style="width: 100%;" *ngIf="show1">
                        Captcha Matched</div>

                </div>
            </div>

        </form>
    </div>
    <div class="card-footer">
        <button [disabled]="changeForm.invalid" type="submit" class="btn btn-sm btn-primary" (click)="submitForm()"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="resetForm()"><i class="fa fa-ban"></i> Reset</button>
    </div>
</div>